requests>=2.31.0
beautifulsoup4>=4.12.0
pandas>=2.1.0
python-dateutil>=2.8.2
openai
python-dotenv
langchain
langchain-community
langchain-openai
langchain-core
chromadb==0.4.22
pdfplumber
langsmith
langchain-text-splitters
langchain-chroma
streamlit
